.about-card {
  display: flex;
  margin-inline: auto;
  justify-content: space-between;
  padding: 30px;

  background: rgba(0, 255, 255, 0.8);
  border-radius: 35px;
  width: 70%;
  max-width: 850px;
  height: 70vh;

  @include tablet {
    height: auto;
  }

  @include tablet-small {
    padding: 10px;
  }
}
.about-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  p {
    color: rgb(61, 4, 56);
    font-size: 30px;
    // border: 1px solid black;
    @include tablet-small {
      font-size: 20px;
    }
  }
  span {
    color: rgb(105, 8, 184);
  }
}

///
///
///

.about-description {
}
.about-full-name {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  // border-right: 1px solid black;

  animation: typing 5s forwards;
  animation-delay: 2s;
  animation-timing-function: cubic-bezier (0.25, 1, 0.25, 1);
  @include mobile {
    white-space: wrap;
  }
}
.about-target {
  // border-bottom: 1px solid black;
  // animation: border 5s forwards;
  position: relative;
  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #000;
    content: "";
    animation: typing 5s forwards;
    animation-delay: 5s;
  }
}
